.arrow-right {
  position: absolute;
  right: 22%;
  margin: 10px;
  align-self: center;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  border-left: 15px solid black;
}

.arrow-left {
  position: absolute;
  left: 48%;
  margin: 10px;
  align-self: center;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 15px solid black;
}

@media (min-width: 300px) and (max-width: 499px){
  .arrow-right {
    position: absolute;
    right: 50px;
  }
  .arrow-left {
    position: absolute;
    left: 50px;
  }
}

@media (min-width: 500px) and (max-width: 720px){
  .arrow-right {
    position: absolute;
    right: 120px;
  }
  .arrow-left {
    position: absolute;
    left: 120px;
  }
}

img {
  height: 100px;
  width: 100px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.home-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-article {
  background-color: rgba(42, 0, 192, 0.13);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 250px;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media (max-width: 720px) {
  .home-article {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1301px) {
  .home-article {
    width: 1100px;
  }
}

.center {
  align-self: center;
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.item-button {
 margin-top: 10px;
}

/* Random Item CSS */

.random-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.random-button {
  width: 150px;
  margin-top: 10px;
}

.random-item {
  width: 300px;
  background-color: #f3c0c0;
  margin-bottom: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


/* Details CSS */

.details-content {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.details-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.details-img {
  align-self: center;
}

.details-comp {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}